/Geeks For Geeks/Middle of Three/JavaApplication274/nbproject/private/
/Geeks For Geeks/Middle of Three/JavaApplication274/build/
/Geeks For Geeks/Karatsuba Algorithm/Karatsuba Algorithm/nbproject/private/
/Geeks For Geeks/Karatsuba Algorithm/Karatsuba Algorithm/build/